<a href="https://colab.research.google.com/github/Abhijeet-Katiyar/Insurance-Charges-Prediction/blob/Abhijeet/InsuraceChargesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOAD THE (insurance.csv) DATASET

In [2]:
# Importing Pandas Library
import pandas as pd 
# Load Insurance.csv DataSet
#df = pd.read_csv("/content/drive/My Drive/DataSets/insurance.csv")
# Loading data from github

url = 'https://raw.githubusercontent.com/tushar821999/Insurance-Charges-Prediction/master/insurance.csv'
df = pd.read_csv(url)

In [3]:
# print the First 10 Rows of the data
print(df.head(10))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

ENCODE THE LABEL OF (sex,smoker,region)

In [4]:
# import preprocessing module from sklearn
from sklearn import preprocessing
# use LabelEncoder() method of preprocessing module
label_encoder = preprocessing.LabelEncoder()
# encode the label of {sex,smoker,region}
df['sex'] = label_encoder.fit_transform(df['sex'])
df['smoker'] = label_encoder.fit_transform(df['smoker'])
df['region'] = label_encoder.fit_transform(df['region'])

In [5]:
# print the first 10 rows of the dataset after label encoding
print(df.head(10))
# print the last 10 rows of the dataset after label encoding
print(df.head(10))

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520
5   31    0  25.740         0       0       2   3756.62160
6   46    0  33.440         1       0       2   8240.58960
7   37    0  27.740         3       0       1   7281.50560
8   37    1  29.830         2       0       0   6406.41070
9   60    0  25.840         0       0       1  28923.13692
   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520
5   31    0  25.740         0       0       2   3756.62160
6   46    0  33.440         1       0       2   8240.58960
7   37    0  27.740         3       0       1   7281.50560
8   37    1  29.830         2       0       0   6406.41070
9   60    0  25.840         0       0       1  28923.13692

CHECK THE NULL VALUES IN THE DATASET

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB
None

STORE FEATURE IN "X" AND TARGET IN "Y"

In [7]:
X = df.iloc[:,:6]
Y = df.iloc[:,6:7]

In [8]:
print(X.head(5))
print(Y.head(5))

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       3
1   18    1  33.770         1       0       2
2   28    1  33.000         3       0       2
3   33    1  22.705         0       0       1
4   32    1  28.880         0       0       1
       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [9]:
print(X.shape)
print(Y.shape)

(1338, 6)
(1338, 1)

In [11]:
# Applying chi square test for importance of features
import numpy as np
X1=np.asarray(X).astype('float32')
Y1=np.asarray(Y).astype('int')

In [12]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
X_norm = MinMaxScaler().fit_transform(X1)
chi_selector = SelectKBest(chi2, k=6)
chi_selector.fit(X_norm, Y1)
chi_selector.get_support()

array([ True,  True,  True,  True,  True,  True])

##### Each True value represents that every column is important in data so we will include every column to train our model.

SPLITING THE DATASET FOR TRAIN AND TEST (0.75)

In [13]:
from sklearn.model_selection import train_test_split
x_test,x_train,y_test,y_train = train_test_split(X,Y,test_size=.75,random_state=1)

In [14]:
print(x_train.shape)
print(x_test.shape)

(1004, 6)
(334, 6)

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)

In [16]:
y_pred=reg.predict(x_test)

In [17]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7750664729662823